services:

# ---------------------
# DORY BOT APP
# ---------------------
  dory.bot:
    restart: ${GENERIC_RESTART}
    container_name: ${DISCORD_NAME}
    image: ${DISCORD_IMAGE}
    environment:
      DISCORD_TOKEN: ${DISCORD_TOKEN}
      CLIENT_ID: ${DISCORD_CLIENT_ID}
      ROLES_TO_ALLOW: ${DISCORD_ROLES_TO_ALLOW}
      CHANNEL_TO_SEND: ${DISCORD_CHANNEL_TO_SEND}
      GUILD_ID: ${DISCORD_GUILD_ID}
      API_URL: ${API_URL}
      API_TOKEN: ${API_TOKEN}
      N8N_WEBHOOK_URL: ${N8N_WEBHOOK_URL}
    networks:
      - adempiere_network

  backend.adempiere.dory:
    image: ${BACKEND_DORY_IMAGE}
    restart: ${GENERIC_RESTART}
    container_name: ${BACKEND_DORY_NAME}
    environment:
      - SPRING_PROFILES_ACTIVE=${BACKEND_DORY_PROFILES_ACTIVE}
      - COM_ERPYA_DB_HOST=${BACKEND_DORY_DB_HOST}
      - COM_ERPYA_DB_PORT=${BACKEND_DORY_DB_PORT}
      - COM_ERPYA_DB_NAME=${BACKEND_DORY_DB_NAME}
      - COM_ERPYA_DB_PASSWORD=${BACKEND_DORY_DB_PASSWORD}
      - COM_ERPYA_DB_USER=${BACKEND_DORY_DB_USER}
    networks:
      - adempiere_network

  nginx.backend.dory:
    image: ${NGINX_BACKEND_IMAGE}
    container_name: ${NGINX_BACKEND_NAME}
    restart: ${GENERIC_RESTART}
    # ports:
    #   - "${NGINX_BACKEND_DORY_PORT}:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    networks:
      - adempiere_network

networks:
  adempiere_network:
    name: adempiere_network
    external: true
